<template name="adminUsers">
    <div class="chat-room page container">

        <div>
            <form class="new-user">
                <input type="nev" name="nev" placeholder="" />
                <input type="pontszam" name="pontszam" placeholder="" />
                <input type="submit" value="hozzáadás">
            </form>
        </div>

        <div align="left" class="row">

                <table class="table">
                    <thead>
                        <tr>
                            <th >
                                Name
                            </th>
                            <th >
                                Score
                            </th>
                            <th>
                                Operation
                            </th>
                        </tr>
                    </thead>
                    {{#each getUser}}
                            <tr>
                                <td >
                                    {{> xEditable type="text" success=updateEsemeny placement="right" mode="inline" value=nev }}
                                </td>
                                <td >
                                    {{> xEditable type="text" success=updateEsemeny placement="right" mode="inline" value=pontszam }}
                                </td>
                                <td>
                                    <button class="delete">Remove</button>
                                </td>
                            </tr>
                    {{/each}}
                </table>
        </div>
    </div>
</template>