<template name="bet">
    <div id="wrapper">
        <div id="page-content-wrapper">
            <div class="row">
                <h2>Bets</h2>
            </div>

            <div class="row">
                <form class="new-bet">
                    <input type="hidden" name="user_id" value="{{currentUser._id}}"/>
                    <input type="text" name="esemeny_id" placeholder="Esemeny_id" />
                    <input type="text" name="fogadas" placeholder="Tipp" />
                    <input type="submit" value="hozzáadás">
                </form>
            </div>
            <div class="row">

            </div>
            <div class="row">
                Fogadások
                <table border="1" width="300">
                        <tr>
                            <th>
                                user_id
                            </th>
                            <th>
                                verseny_id
                            </th>
                            <th>
                                fogadas
                            </th>
                        </tr>
                        {{#each allFogadas}}
                            <tr>
                                <td>
                                    {{user_id}}
                                </td>
                                <td>
                                    {{verseny_id}}
                                </td>
                                <td>
                                    {{fogadas}}
                                </td>
                            </tr>
                        {{/each}}
                    </table>
            </div>
        </div>
    </div>
</template>