<template name="kmkEvents">
    <div id="wrapper">
        <div id="page-content-wrapper">
            <div class="row">
                <h2>Events</h2>
            </div>
            <div class="row">
                <table border="1" width="300">
                    <tr>
                        <th width="100">
                           Name
                        </th>
                        <th width="100">
                            Date
                        </th>
                        <th width="100">
                            Category
                        </th>
                    </tr>
                {{#each kmkEvents}}
                    <tr>
                        <td>
                            {{name}}
                        </td>
                        <td>
                            {{idopont}}
                        </td>
                        <td>
                            {{kategoria}}
                        </td>
                    </tr>
                {{/each}}
                </table>
            </div>
        </div>
    </div>
</template>
